<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dog & Cat Classification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body {
        background-image: url("static/74-740775_math-time-backgrounds-wallpapers-maths-backgrounds-for-powerpoint.jpg") !important;
      }
    </style>
</head>
<body>

    <h1 style="color: red; font-weight: bold; font-family: 'Comic Sans MS', cursive, sans-serif; margin: auto;width: 80%; text-align: center; margin-top: 220px;  text-transform: uppercase">Handwritten Math <br>Expression Recognition</h1>
<div style="width: 90%; margin: auto; text-align: center">
    <img src="{{ url_for('send_file', filename=image_file_name)}}" style ="max-width: 500px; max-height: 450px; margin-top: 30px; margin-bottom: 10px">
    <p style="font-style: italic">{{ image_file_name }}</p>

    <h3 style="margin-top: 40px"><b>Predicted Calculation: <span style="color: green">{{ label }}</span></b></h3>
    <h3><b>Result : <span style="color: green;">{{ accuracy }} </span></b></h3>
    <h3><a href="/">Back to Home Page</a></h3>
</div>
</body>

</html>